/*n Icones boostrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*n Fontes do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@font-face {
    font-family: "karma_arcade";
    src: url('../fontes/ka1.ttf')
}

@font-face {
    font-family: "ancient_medium";
    src: url('../fontes/Ancient Medium.ttf');
}

@font-face {
    font-family: "astronomic";
    src: url('../fontes/Astronomy.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/fundo.png');
    background-attachment: fixed;
}

#container {
    margin: 40px auto;
    width: 80%;
}

header,
nav,
footer,
main {
    float: left;
}

header {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

nav.superior,
nav.topo {
    width: 100%;
    margin-bottom: 1%;
}

header {
    height: 200px;
    background-color: deepskyblue;
}

nav.topo {
    font-family: 'astronomic', sans-serif;
}
nav.superior {
    font-family: "ancient_medium", sans-serif;
}

nav.lateral {
    font-family: 'Tektur', sans-serif;
    width: 29%;
    background-color: #f1f1f1;
}

main {
    background-color: white;
    border-radius: 20px;
    border: 1px dashed gray;
    width: 62%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    float: right;
}

main p,
main h3 {
    text-indent: 2%;
}

main h3 {
    font-family: 'Boldonse', sans-serif;    ;
    color: #ff0000;
    text-transform: uppercase;
    margin-bottom: 2%;
}

main p {
    font-family: 'Pacifico', sans-serif;
}

footer {
    font-family: "karma_arcade", sans-serif;
    margin-top: 1%;
    background-color: rgb(175, 238, 238, 0.5);
    width: 100%;
    height: 400px;
    text-align: center;
}

.logo {
    width: 150px;
    margin: 0 auto;
    padding-top: 15px;
    display: block;
}

/* nav vertical inicio */
nav.lateral ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.lateral li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;

}

/* ao passar o mouse sobre */
nav.lateral li a:hover {
    background-color: deepskyblue;
    color: white;
}

nav.lateral .active {
    background-color: SteelBlue;
    color: white;
}

/* nav vertical fim */



/* nav superior inicio */

nav.superior ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(105, 105, 105, 1);
    text-align: center;
}

nav.superior li {
    float: left;
}

nav.superior li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.superior li a:hover {
    background-color: deepskyblue;
}

nav.superior .active {
    background-color: SteelBlue;
}

nav.superior li {
    border-right: 1px solid DimGrey;
}

nav.superior li:last-child {
    border-right: none;
}

/* nav superior fim */



/* nav topo inicio */

nav.topo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

nav.topo li {
    display: inline-block;
}

nav.topo li a {
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav.topo li a:hover {
    background-color: deepskyblue;
}

nav.topo .active {
    background-color: SteelBlue;
}

/* nav topo fim */

/* tabela */
table.tabela {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}
table.tabela th,
table.tabela td {
    border: 1px solid #000000;
    padding: 2%;
}

table.tabela tr:nth-child(even) {
    background-color: #d2d2d2;
}

table.tabela th {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}